@import "variables";

.nav-bar {
  &__list {
    display: grid;
    grid-template-columns: repeat($countHeaderNavLink, auto);
    grid-column-gap: 20px;
  }

  &__item {
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    color: black;
    font-size: 12px;
    line-height: $header-height;
    font-weight: 500;
    transition: 0.3s;
    display: grid;

    &:hover {
      color: #00acdc;
    }
  }

  &__link-active {
    color: #00acdc;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      height: 4px;
      width: 100%;
      background-color: #00acdc;
      border-radius: 8px;
    }
  }
}
