@import "variables";

.main-content {
  margin: 50px auto;
  display: grid;
  justify-content: center;
  align-content: flex-start;
  &__cards-container {
    display: grid;
    grid-template-columns: repeat($count-cards-row, auto);
    justify-content: space-between;
    align-content: space-between;
    width: ($horizontal-margin+$card-width) * 4 - $horizontal-margin;
    height: ($vertical-margin+$card-height) * 2 - $vertical-margin;
  }
}
